:root {}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	/* outline: 3px solid red; */
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;

	font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	background-color: #fff;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1370px;
	padding: 0px 15px;
	margin: 0px auto;
}

.btn {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	padding: 17px 60px;

	cursor: pointer;

	background-color: transparent;

	transition: all .3s linear;
}

.btn:hover {
	opacity: 0.7;
}

.btn-primary {
	color: #fff;

	border-radius: 5px;
	background: #263238;
}

.btn-secondary {
	color: #000;

	border-radius: 5px;
	border: 2px solid #263238;
}

.btn-lg {
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	padding: 32px 115px;
}

.btn-sm {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	padding: 15px 46px;
}


/*
	btn - Стартовые настройки
	btn-primary - Основная кнопка
	btn-secondary - Вспомогательная кнопка
	btn-lg - Большая кнопка
	btn-sm - Маленькая кнопка
*/

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 55px;
}

.header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .nav {
	display: flex;
	align-items: center;
	column-gap: 36px;
}

.header .nav .nav-link {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	color: #263238;

	transition: all .3s linear;
}

.header .nav .nav-link:hover {
	opacity: 0.7;
}

.main {
	display: flex;
	flex-direction: column;
}

.home {
	display: flex;
	align-items: center;
	column-gap: 30px;
	justify-content: space-between;
	margin-bottom: 75px;
}

.home-learn {
	display: flex;
	flex-direction: column;
	flex: 0 0 40%;
	max-width: 40%;
}

.home-header {
	display: flex;
	align-items: center;
}

.home-title h1 {
	color: #000;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.home-light {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 120px;
	max-width: 120px;
}

.home-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 50%;
	max-width: 50%;
}

.home-content {
	color: #8F95A5;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 40px;
	padding-bottom: 60px;
}

.skills {
	display: flex;
	flex-direction: column;
	row-gap: 96px;

	margin-top: 75px;
	margin-bottom: 120px;
}

.skills-title h2 {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.skills-container {
	display: grid;
	grid-template-rows: 1fr 340px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"speaking writing reading"
		"speaking listening listening";
	gap: 20px;
}

.speaking-container {
	grid-area: speaking;
	background: #F5F5F5;



	padding-top: 35px;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 90px;
}

.speaking-image {
	width: 390px;
	height: 390px;
	flex-shrink: 0;
	margin-bottom: 5px;
}

.speaking-content {
	display: flex;
	flex-direction: column;
}

.speaking-title {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.speaking-button {
	padding-top: 36px;
}

.speaking-text p {
	color: #8F95A5;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-top: 5px;
	margin-bottom: 1em;

}

.reading-container {
	grid-area: reading;
}

.writing-container {
	grid-area: writing;
}

.reading-container,
.writing-container {
	background: #F5F5F5;

	padding-top: 37px;
	padding-left: 41px;
	padding-right: 41px;
	padding-bottom: 44px;

	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: 100%;
}

.reading-content,
.writing-content {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	height: 100%;
}

.reading-image,
.writing-image {
	width: 100%;
	height: 100%;
	max-height: 240px;
	display: flex;
}

.reading-title,
.writing-title {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.reading-button,
.writing-button {
	margin-top: auto;
}

.reading-text p,
.writing-text p {
	color: #8F95A5;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.listening-container {
	grid-area: listening;
	background: #F5F5F5;

	padding-top: 44px;
	padding-left: 44px;
	padding-right: 25px;
	padding-bottom: 68px;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	column-gap: 15px;
}

.listening-content {
	display: flex;
	flex-direction: column;
}

.listening-image {
	width: 100%;
	height: 100%;
	max-height: 240px;
	display: flex;
}

.listening-title {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.listening-button {
	padding-top: 25px;
}

.listening-text p {
	color: #8F95A5;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.about {
	display: flex;
	justify-content: space-between;

}

.about-container {
	display: flex;
	flex-direction: column;
}

.about-title h2 {
	color: #000;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
}

.about-text p {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.about-meta {
	display: flex;
	justify-content: space-around;
}

.about-pupils {
	display: flex;
	flex-direction: column;
}

.pupils-number {
	color: #2A3246;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;

	display: flex;
	justify-content: center;
}

.pupils-pup{
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	display: flex;
	justify-content: center;
}

.about-teachers {
	display: flex;
	flex-direction: column;
}

.teachers-number {
	color: #2A3246;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;

	display: flex;
	justify-content: center;
}

.teachers-teach {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	display: flex;
	justify-content: center;
}

.about-foreign {
	display: flex;
	flex-direction: column;
}

.foreign-number {
	color: #2A3246;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;

	display: flex;
	justify-content: center;
}

.foreign-languages {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	display: flex;
	justify-content: center;
}

.about-image {
	width: 500px;
	height: 500px;
	flex-shrink: 0;
}

.pricing {
	
}

.pricing-container {

}

.pricing-title h2 {
	display: flex;
	justify-content: center;

	color: #000;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px
}

.pricing-content {
	display: flex;
	justify-content: space-evenly;
}

.pricing-course {
	display: flex;
	flex-direction: column;

	margin: 30px;
	row-gap: 40px;
}

.course-image {
	width: 311px;
	height: 311px;
	flex-shrink: 0;
}

.course-content {

}

.course-title h3 {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
}

.course-text p {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-top: 19px;
}

.course-price {
	width: 240px;
	height: 45px;
	flex-shrink: 0;

	border-radius: 5px;
	background: #EEE;
	margin-top: 34px;
}

.pricing-classes {
	display: flex;
	flex-direction: column;

	margin: 30px;
	row-gap: 69px;
}

.classes-image {
	width: 391px;
	height: 283px;
	flex-shrink: 0;
}

.classes-content {

}

.classes-title h3 {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
}

.classes-text p {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-top: 23px;
}

.classes-price {
	width: 240px;
	height: 45px;
	flex-shrink: 0;

	border-radius: 5px;
	background: #EEE;
	margin-top: 59px;
}

.pricing-personal {
	display: flex;
	flex-direction: column;

	margin: 30px;
	row-gap: 14px;
}

.personal-image {
	width: 340px;
	height: 340px;
	flex-shrink: 0;
}

.personal-content {

}

.personal-title h3 {
	color: #263238;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
}

.personal-text p {
	color: #8F95A5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-top: 30px;
}

.personal-price {
	width: 240px;
	height: 45px;
	flex-shrink: 0;

	border-radius: 5px;
	background: #EEE;
	margin-top: 20px;
}
